@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.workshop-scale {
  --font-size-body-m: 16px;
  --line-height-body-m: 24px;
  --font-size-body-s: 14px;
  --line-height-body-s: 19px;
  --font-size-heading-xs: 16px;
  --line-height-heading-xs: 20px;
  --font-size-heading-s: 18px;
  --line-height-heading-s: 22px;
  --font-size-heading-m: 20px;
  --line-height-heading-m: 24px;
  --font-size-heading-l: 23px;
  --line-height-heading-l: 27px;
  --font-size-heading-xl: 27px;
  --line-height-heading-xl: 33px;
  --space-xxs: 5px;
  --space-xs: 10px;
  --space-s: 14px;
  --space-m: 18px;
  --space-l: 24px;
  --space-xl: 28px;
  --space-xxl: 36px;
}
